table{
    border-style: 1px solid white;
}
/*
tr:nth-of-type(even){
    background-color: purple;
    color: white;
    text-align: left;
}
tr.morado{
    background-color: purple;
    color: white;
    text-align: left;
}
tr.gris{
    background-color: grey;
}
*/
tr:nth-of-type(even){
    background-color: grey;
}
th{
    padding: 10px;
    width: 2000px;
    background-color: purple;
    color: white;
    text-align: left;
}