* {
  margin: 0%;
  text-decoration: none;
  list-style-type: none;
}


#area {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas: "head head head"
                       "nav section aside"
                       "nav foot aside";
  grid-template-rows: 15% 1fr 10%;
  grid-template-columns: 15% 1fr 15%;
}

#area > nav,header,footer {
  text-align: center;
  text-transform:uppercase;
  font-size:xx-large;
}

#area > header {
  grid-area: head;
  justify-content: center;

  background-color: #E87A6F;
}

#area > nav {
  grid-area: nav;
  background-color: #F29274;
}

#area > section {
  grid-area: section;
  background-color: #DB9B74;
}

#area > footer {
  grid-area: foot;
  background-color: #F2B774;
}

#area > aside {
  grid-area: aside;
  background-color:#E8BD6F;
}

nav a{
  margin-left: -18%;
  text-align: center;
  color: white;
  font-size: medium;
}

ul{
  margin-top: 10%;
}

ul :hover{
  padding: 15%;
  padding-left: 40%;
  padding-right: 40%;
  background-color: #E8BD6F;
}

aside #pizza {
  max-width: 85%;
  max-height: 85%;
}


.ficha img{
  max-width: 85%;
  max-height: 85%;
}
.ficha a{
  text-align: center;
  color: white;
}

aside{
  text-align: center;
}

aside a{
  text-align: center;
  padding:3px;
  background-color: gray;
}

.ficha{
  background-color: white;
  margin: 5px;
  margin-top: 15px;
  padding: 4px;
  border: black 5px solid;
}

/*
.grid-gallery{

  display: grid;
  grid-auto-rows: 200px;
  gap: 1rem;
  grid-template-columns: repeat(5,1fr);
  
}

@media all and (min-width: 320px){
  .grid-gallery{
    grid-template: repeat(1, 1fr);
  }
}

@media all and (min-width: 768px){
  .grid-gallery{
    grid-template: repeat(3, 1fr);
  }
}

@media all and (min-width: 1024px){
  .grid-gallery{
    grid-template: repeat(6, 1fr);
  }
}

.grid-item:nth-child(11n+1){
  grid-column: span 1;
}

.grid-item:nth-child(11n+4){
  grid-column: span 2;
  grid-row: span 1;
}

.grid-item:nth-child(11n+6){
  grid-column: span 3;
  grid-row: span 1;
}

.grid-item:nth-child(11n+7){
  grid-column: span 1;
  grid-row: span 2;
}

.grid-item:nth-child(11n+8){
  grid-column: span 2;
  grid-row: span 2;
}

.grid-item:nth-child(11n+9){
  grid-row: span 3;
}


.grid-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
*/
